:host {
    z-index: var(--pf-global--ZIndex--xs);
    box-shadow: none !important;
}

button.pf-c-nav__link {
    margin-block-end: 0;
}

:host([highlight]) .pf-c-nav__item {
    background-color: var(--ak-accent);
    margin: 16px;
}

:host([highlight]) .pf-c-nav__item .pf-c-nav__link {
    padding-left: 0.5rem;
}

.pf-c-nav__link.pf-m-current::after,
.pf-c-nav__link.pf-m-current:hover::after,
.pf-c-nav__item.pf-m-current:not(.pf-m-expanded) .pf-c-nav__link::after {
    --pf-c-nav__link--m-current--after--BorderColor: var(--ak-accent);
    --pf-c-nav__link--m-current--after--BorderLeftWidth: 0;
}

.pf-c-nav__list .sidebar-brand {
    max-height: 82px;
    margin-bottom: -0.5rem;
}

.pf-c-nav__list {
    flex-grow: 1;
    overflow-y: auto;
}

.pf-c-nav__item {
    user-select: none;
    --pf-c-nav__item--MarginTop: var(--pf-global--spacer--xs);
    --pf-c-nav__link--m-current--after--BorderLeftWidth: 0;
    margin-inline: var(--ak-c-sidebar__link--MarginInline, var(--pf-global--spacer--sm));
}

.pf-c-nav__link {
    border-radius: var(--ak-c-sidebar__link--BorderRadius, var(--pf-global--BorderRadius--sm));
    align-items: center;
    display: flex;
    gap: var(--pf-global--spacer--sm);
    transition-property: background-color, color, border-color;
    transition-timing-function: var(--pf-global--TimingFunction);
    transition-duration: var(--pf-global--TransitionDuration);
}

.pf-c-nav__link-icon {
    color: currentcolor;
    flex: 0 0 auto;
    font-size: var(--pf-global--FontSize--md);
    opacity: 0.8;
    text-align: center;
    width: 1.25em;
}

.pf-c-nav__link-text {
    min-width: 0;
}

.pf-c-nav__link.pf-m-current {
    font-weight: var(--pf-global--FontWeight--semi-bold);
}

.pf-c-nav__item.pf-m-expanded > .pf-c-nav__link:not(.pf-m-current) {
    background-color: transparent;
}

.pf-c-nav__link::after {
    border-radius: inherit;
}

.pf-c-nav__item:not(.pf-m-expandable) {
    --pf-c-nav__link--after--BorderLeftWidth: 0 !important;
}

.pf-c-nav__subnav {
    padding-block-start: var(--pf-global--spacer--xs);
}

.pf-c-nav__subnav .pf-c-nav__item {
    margin-inline-end: 0;
}

.pf-c-nav__toggle {
    margin-inline-start: auto;
}

.pf-c-nav__enterprise-notice {
    color: var(--pf-global--Color--dark-200);
    background-color: var(--pf-global--Color--light-300);
    font-size: var(--pf-global--FontSize--xs);
    margin-inline-start: 0.5rem;
    padding: 0.1rem 0.5rem;
    border-radius: var(--pf-global--BorderRadius--sm);
}

:host([theme="dark"]) .pf-c-nav__enterprise-notice {
    color: var(--pf-global--Color--light-200);
    background-color: var(--pf-global--BackgroundColor--300);
}
