:host {
    --pf-c-page__header-tools--MarginRight: 0;
    --ak-c-page-navbar__brand-logo--Height: 2rem;
    --ak-c-page-navbar__brand---BackgroundColor: var(--pf-c-page__sidebar--BackgroundColor);
    --ak-c-page-navbar--Height: 7.5rem;
    --ak-c-page-navbar--BackgroundColor: var(--pf-c-page__main-nav--BackgroundColor);
    --ak-c-page-navbar--BorderColor: var(--pf-global--BorderColor--100);
    --ak-c-page-navbar__action--hover--BackgroundColor: var(--pf-global--BackgroundColor--200);
    --ak-c-page-navbar__action--active--BackgroundColor: color-mix(
        in oklab,
        var(--ak-accent) 14%,
        transparent
    );
}

:host([theme="dark"]) {
    --ak-c-page-navbar__brand---BackgroundColor: var(--pf-c-page__sidebar--BackgroundColor);
}

.main-content {
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: var(--ak-c-page-navbar--BorderColor);
    background-color: var(--ak-c-page-navbar--BackgroundColor);
    display: flex;
    height: var(--ak-c-page-navbar--Height);

    flex-direction: row;
    box-shadow: 0 1px 2px
        color-mix(in oklab, var(--pf-global--BackgroundColor--dark-100) 8%, transparent);

    display: grid;
    column-gap: var(--pf-global--spacer--sm);

    grid-template-columns: [brand] auto [toggle] auto [primary] 1fr [secondary] auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "brand toggle primary secondary"
        "brand toggle description secondary";

    @media (width <= 425px) {
        /* Fix for mobile flickering between elements with box shadows. */
        border-bottom: none;
    }
    @media (width <= 767px) {
        --ak-c-page-navbar--Height: auto;
    }

    @media (width <= 767px) {
        row-gap: var(--pf-global--spacer--xs);

        align-items: center;
        grid-template-areas:
            "toggle primary secondary"
            "toggle description description";
        justify-content: space-between;
        width: 100%;
    }

    @media (width < 1200px) {
        column-gap: calc(var(--pf-global--spacer--md) / 2);
    }
}

.items {
    display: block;

    &.primary {
        grid-column: primary;
        grid-row: primary / description;

        align-self: center;
        padding-block: var(--pf-global--spacer--sm);

        @media (width <= 768px) {
            padding-block: var(--pf-global--spacer--sm);
        }

        @media (width >= 425px) {
            &.block-sibling {
                align-self: end;
                padding-block-end: 0;
                padding-block-start: var(--pf-global--spacer--sm);
                grid-row: primary;
            }
        }

        .accent-icon {
            height: 1.2em;
            width: 1.2em;

            @media (width <= 768px) {
                display: none;
            }
        }
    }

    &.page-description {
        padding-top: 0.1em;
        grid-area: description;
        margin-block-end: var(--pf-global--spacer--sm);

        display: box;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (width <= 425px) {
            display: none;
        }

        @media (width >= 769px) {
            text-wrap: balance;
        }
    }

    &.secondary {
        grid-area: secondary;
        flex: 0 0 auto;
        justify-self: end;
        padding-block: var(--pf-global--spacer--sm);
        padding-inline-end: var(--pf-global--spacer--md);

        @media (width >= 769px) {
            align-content: center;
            padding-block: var(--pf-global--spacer--sm);
            padding-inline-end: var(--pf-global--spacer--lg);
        }
    }
}

.brand {
    grid-area: brand;
    background-color: var(--ak-c-page-navbar__brand---BackgroundColor);
    height: 100%;
    width: var(--pf-c-page__sidebar--Width);
    align-items: center;
    padding-inline: var(--pf-global--spacer--md);

    display: flex;
    justify-content: center;

    &.pf-m-collapsed {
        display: none;
    }

    @media (width < 1200px) {
        display: none;
    }
}

.logo {
    flex: 0 0 auto;
    height: var(--ak-c-page-navbar__brand-logo--Height);

    & img {
        height: 100%;
    }

    & i {
        font-size: var(--ak-c-page-navbar__brand-logo--Height);
        height: var(--ak-c-page-navbar__brand-logo--Height);
        line-height: var(--ak-c-page-navbar__brand-logo--Height);
    }
}

::slotted([slot="toggle"]) {
    --pf-c-button--FontSize: var(--pf-global--FontSize--xl) !important;
    height: 100%;
    min-width: var(--pf-global--target-size--MinWidth);

    grid-area: toggle;
}

::slotted([slot="toggle"]:hover),
::slotted([slot="toggle"]:focus-visible),
::slotted([slot="nav-buttons"]:hover),
::slotted([slot="nav-buttons"]:focus-visible) {
    --pf-c-button--m-plain--hover--BackgroundColor: var(
        --ak-c-page-navbar__action--hover--BackgroundColor
    );
    --pf-c-button--m-plain--focus--BackgroundColor: var(
        --ak-c-page-navbar__action--hover--BackgroundColor
    );
}

::slotted([slot="toggle"]:active),
::slotted([slot="nav-buttons"]:active) {
    --pf-c-button--m-plain--active--BackgroundColor: var(
        --ak-c-page-navbar__action--active--BackgroundColor
    );
}

@media (width >= 1200px) {
    slot[name="toggle"] {
        display: none;
    }
}

.pf-c-content .page-title {
    display: box;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    gap: var(--pf-global--spacer--sm);
    margin-block: 0;
}
